<template>
  <div class="form w-[594px]">
    <div class="flex gap-6 mb-3">
      <field-text
        id="name"
        v-model="name"
        label="Наименование груза"
        class="w-full max-w-[278px]"
      />

      <field-text
        id="inplace_count"
        v-model.number="inplace_count"
        label="Кол-во мест"
        type="number"
        class="max-w-[90px]"
      />

      <field-select
        v-model="pipe_tag"
        :options="packageArray"
        label="Род упаковки"
        class="max-w-[130px]"
      />
    </div>

    <div class="flex gap-6 mb-3">
      <field-text
        id="weight"
        v-model.number="weight"
        label="Вес брутто (тн)"
        type="number"
        class="max-w-[90px]"
      />
      <field-text
        id="height"
        v-model.number="height"
        label="Длина (м)"
        type="number"
        class="max-w-[90px]"
      />
      <field-text
        id="diameter"
        v-model.number="diameter"
        label="Диаметр (м)"
        type="number"
        class="max-w-[90px]"
      />
      <field-text
        id="thickness"
        v-model.number="thickness"
        label="Толщ. стенки (м)"
        type="number"
        class="max-w-[90px]"
      />
    </div>

    <div class="flex gap-6 mb-3">
      <field-text
        id="segment_number"
        v-model="segment_number"
        label="№ сегмента"
        class="max-w-[90px]"
      />
      <field-text
        id="place_number"
        v-model.number="place_number"
        label="№ места"
        type="number"
        class="max-w-[90px]"
      />
    </div>

    <field-text id="extra-table" v-model="extra" label="Оговорка" />

    <div class="form__footer flex mt-6">
      <button
        type="button"
        class="form__button _secondary ml-auto mr-[22px]"
        @click="cancel"
      >
        Отмена
      </button>

      <button type="button" class="form__button _primary" @click="save">
        Сохранить
      </button>
    </div>
  </div>
</template>

<script>
// Components
import FieldText from '@/components/FieldText.vue';
import FieldSelect from '@/components/FieldSelect.vue';

// Composables
import useReferences from '@/composables/useReferences';

export default {
  name: 'FormAddTable',

  components: { FieldText, FieldSelect },

  emits: ['closeForm', 'confirmForm'],

  setup() {
    const { packageArray } = useReferences();

    return { packageArray };
  },

  data() {
    return {
      /** Наименование груза */
      name: '',
      /** Кол-во мест */
      inplace_count: '',
      /** Род упаковки */
      pipe_tag: { id: '', name: '' },
      /** Вес брутто (тн) */
      weight: '',
      /** Длина Высота (м) */
      height: '',
      /** Диаметр (м) */
      diameter: '',
      /** Толщина стенки (м) */
      thickness: '',
      /** № сегмента */
      segment_number: '',
      /** № места */
      place_number: '',
      /** Оговорка */
      extra: '',
    };
  },

  methods: {
    save() {
      this.$emit('confirmForm', {
        name: this.name,
        inplace_count: this.inplace_count,
        pipe_tag: this.pipe_tag,
        weight: this.weight,
        height: this.height,
        diameter: this.diameter,
        thickness: this.thickness,
        segment_number: this.segment_number,
        place_number: this.place_number,
        extra: this.extra,
      });
    },
    cancel() {
      this.$emit('closeForm');
    },
  },
};
</script>
