<template>
  <div class="max-w-[1048px] form">
    <h2 class="form__header">
      <span>Прием груза&nbsp;</span>
      <span v-if="shippingName">({{ shippingName }})</span>
    </h2>

    <div class="grid grid-cols-[321px,348px,1fr] gap-[48px] mb-[14px]">
      <div>
        <div class="flex justify-between mb-[12px]">
          <field-select
            v-model="port"
            :options="portArray"
            label="Порт выгрузки"
            class="w-full mr-[27px]"
          />
          <field-select
            v-model="transport"
            :options="transportArray"
            label="Вид ТС"
            class="max-w-[90px]"
          />
        </div>

        <field-select
          v-model="sender"
          :options="senderArray"
          label="Грузооправитель"
          class="mb-[12px]"
        />
        <field-select
          v-model="receiver"
          :options="receiverArray"
          label="Грузополучатель"
          class="mb-[12px]"
        />
        <field-select
          v-model="place"
          :options="placeArray"
          :disabled="!placeArray.length"
          label="Место складирования в порту"
        />
      </div>

      <div>
        <div class="flex justify-between mb-[12px]">
          <field-select
            v-model="object"
            :options="objectArray"
            label="Объект"
            class="max-w-[90px]"
          />
          <field-text
            id="number-transport"
            v-model="transport_tag"
            label="Номер ТС"
            class="max-w-[90px]"
          />
          <field-text
            id="waybill"
            v-model="tag"
            label="ТН/ЖДН/КС"
            class="max-w-[120px]"
          />
        </div>

        <div class="flex justify-between mb-[12px]">
          <field-text
            id="act"
            v-model="act"
            label="Приемный акт"
            class="max-w-[90px]"
          />
          <field-date
            id="date-out"
            v-model="send_date"
            label="Дата отгрузки"
            class="max-w-[120px]"
          />
        </div>

        <div class="flex justify-between mb-[12px]">
          <field-text
            id="danger-level"
            v-model="danger_class"
            label="Кл. опасности"
            class="max-w-[90px]"
          />
          <field-date
            id="date-in"
            v-model="receive_date"
            label="Дата приемки"
            class="max-w-[120px]"
          />
        </div>

        <field-select
          v-model="big"
          :options="bigArray"
          label="Укрупненное наименование груза"
        />
      </div>

      <div class="flex justify-self-end">
        <field-text
          id="contract"
          v-model="contract"
          label="Договор поставки"
          class="max-w-[120px]"
        />
      </div>
    </div>

    <div class="form__table mb-[12px] w-full">
      <button
        type="button"
        class="
          bg-[#8DD6FF]
          rounded-[4px]
          text-[11px]
          leading-[13px]
          px-[10px]
          py-[6px]
          active:bg-opacity-50
        "
        @click="setIsOpenModal(true)"
      >
        Добавить
      </button>

      <dialog-wrap :is-open-modal="isOpenModal">
        <form-add-table
          @confirm-form="addRowTable"
          @close-form="setIsOpenModal(false)"
        />
      </dialog-wrap>

      <table class="modal-table mt-2">
        <thead class="modal-table__head">
          <tr>
            <th
              v-for="item in headTable"
              :key="item.id"
              :style="{ width: item.size }"
              class="modal-table__cell"
            >
              {{ item.name }}
            </th>
          </tr>
        </thead>

        <tbody class="modal-table__body">
          <tr
            v-for="(row, indexRow) in formatEntities"
            :key="indexRow"
            class="modal-table__row"
          >
            <td v-for="item in row" :key="item.id" class="modal-table__cell">
              {{ item.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <field-text
      id="share-note"
      v-model="extra"
      label="Общая оговорка"
      class="mb-[24px]"
    />

    <div class="form__footer flex">
      <button
        type="button"
        class="form__button _secondary ml-auto mr-[22px]"
        @click="cancel"
      >
        Отмена
      </button>

      <button type="button" class="form__button _primary" @click="save">
        Сохранить
      </button>
    </div>
  </div>
</template>

<script>
/** Components */
import FieldDate from '@/components/FieldDate.vue';
import FieldSelect from '@/components/FieldSelect.vue';
import FieldText from '@/components/FieldText.vue';
import DialogWrap from '@/components/DialogWrap.vue';
import FormAddTable from '@/components/FormAdmission/FormAddTable.vue';

/** API */
import { sendDocToBackend, sendChangeDocToBackend } from '@/api';

/** Utils */
import { getPropertiesValue } from '@/utils';

/** Composables */
import useReferences from '@/composables/useReferences';
import shippingNames, {
  formatEntitiesForPipes,
} from '@/composables/shippingNames';
import useToogleModal from '@/composables/useToogleModal';

export default {
  components: { FieldSelect, FieldText, FieldDate, DialogWrap, FormAddTable },

  props: {
    shippingName: { type: String, default: '', required: false },

    /**
     * Объект документа если передан то инициализируем все по
     * переданным значениям
     * @type {Object} */
    objectDoc: { type: Object, default: () => {}, required: false },
  },

  emits: ['closeForm', 'confirmForm'],

  setup() {
    const {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
      packageArray,
      transportArray,
    } = useReferences();

    const { isOpenModal, setIsOpenModal } = useToogleModal();

    return {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
      packageArray,
      transportArray,
      isOpenModal,
      setIsOpenModal,
    };
  },

  data() {
    return {
      // Для таличной части
      headTable: [],
      dataTable: [],

      // Общая часть
      /** Порт выгрузки */
      port: { id: '', name: '' },

      /** Вид ТС */
      transport: { id: '', name: '' },
      /** Грузооправитель */
      sender: { id: '', name: '' },
      /** Грузополучатель */
      receiver: { id: '', name: '' },
      /** Место складирования в порту */
      place: { id: '', name: '' },
      /** Объект */
      object: { id: '', name: '' },
      /** Укрупненное наименование груза */
      big: { id: '', name: '' },
      /** Номер ТС */
      transport_tag: '',
      /** ТН/ЖДН/КС */
      tag: '',
      /** Приемный акт */
      act: '',
      /** Кл. опасности */
      danger_class: '',
      /** Дата отгрузки */
      send_date: '',
      /** Дата приемки */
      receive_date: '',
      /** Договор поставки */
      contract: '',
      /** Общая оговорка */
      extra: '',
    };
  },

  computed: {
    /**
     * Проверка формы на корректность заполнения данными
     * TODO: требуется уточнение
     *  */
    isNotValidForm() {
      return (
        !this.big.id &&
        !this.contract &&
        !this.danger_class &&
        !this.object.id &&
        !this.port.id &&
        !this.place.id &&
        !this.receive_date &&
        !this.send_date &&
        !this.sender.id &&
        !this.receiver.id &&
        !this.tag &&
        !this.transport_tag &&
        !this.transport.id
      );
    },

    /**
     * TODO: выпилить и добавить в composables
     * Модификация видов транспорта под единый вид всех справочников
     */
    // transportOptions() {
    //   return this.transportArray.map((item) => ({
    //     id: item.id,
    //     name: item.type,
    //   }));
    // },

    /** Форматирование табличной части для отображения в таблице */
    formatEntities() {
      return this.dataTable.map((object) => {
        const temp = [];
        Object.entries(object).forEach(([key, value]) => {
          if (key === 'pipe_tag') {
            temp.push({ id: key, name: value?.name });
          } else {
            temp.push({ id: key, name: value });
          }
        });
        /** TODO: добавить вычисление Ф/Е */
        temp.push({ id: 'fu', name: 'Ф/Е' });
        return temp;
      });
    },
  },

  mounted() {
    if (this.shippingName === shippingNames.pipes) {
      this.headTable = [
        { id: 'name', name: 'Наименование груза', size: '118px' },
        { id: 'inplace_count', name: 'Кол-во мест', size: '55px' },
        { id: 'pipe_tag', name: 'Род упаковки', size: '90px' },
        { id: 'weight', name: 'Вес брутто (тн)', size: '77px' },
        { id: 'length', name: 'Длина (м)', size: '71px' },
        { id: 'diameter', name: 'Диаметр (м)', size: '87px' },
        { id: 'thickness', name: 'Толщина стенки (м)', size: '74px' },
        { id: 'segment_number', name: '№ сегмента', size: '84px' },
        { id: 'place_number', name: 'Номер места', size: '55px' },
        { id: 'extra', name: 'Оговорка', size: '240px' },
        { id: 'fu', name: 'Ф/Е', size: '46px' },
      ];
    }
    if (this.shippingName === shippingNames.cargo) {
      // this.headTable = {
      //   name: 'Наименование груза',
      //   inplace_count: 'Кол-во мест',
      //   pipe_tag: 'Род упаковки',
      //   weight: 'Вес брутто',
      //   length: 'Длина',
      //   width: 'Ширина',
      //   height: 'Высота',
      //   place_number: 'Номер места',
      //   extra: 'Оговорка',
      //   fu: 'Ф/Е',
      // };
    }
    if (this.shippingName === shippingNames.crisper) {
      // this.headTable = {
      //   name: 'Наименование груза',
      //   inplace_count: 'Кол-во мест',
      //   pipe_tag: 'Род упаковки',
      //   weight: 'Вес брутто',
      //   length: 'Длина',
      //   width: 'Ширина',
      //   height: 'Высота',
      //   crisper_number: '№ контейнера',
      //   place_number: 'Номер места',
      //   extra: 'Оговорка',
      //   fu: 'Ф/Е',
      // };
    }

    if (this.objectDoc && this.objectDoc.id) {
      this.port = getPropertiesValue(this.objectDoc.port, this.portArray);
      this.transport = getPropertiesValue(
        this.objectDoc.transport_type,
        this.transportArray,
      );
      this.sender = getPropertiesValue(this.objectDoc.sender, this.senderArray);
      this.receiver = getPropertiesValue(
        this.objectDoc.receiver,
        this.receiverArray,
      );
      this.place = getPropertiesValue(this.objectDoc.place, this.placeArray);
      this.object = getPropertiesValue(this.objectDoc.object, this.objectArray);
      this.big = getPropertiesValue(this.objectDoc.big, this.bigArray);
      this.transport_tag = this.objectDoc.transport_tag;
      this.tag = this.objectDoc.tag;
      // TODO: добавить приемный акт
      this.danger_class = this.objectDoc.danger_class;
      this.send_date = this.objectDoc.send_date.slice(0, 10);
      this.receive_date = this.objectDoc.receive_date.slice(0, 10);
      // TODO: Договор поставки
      this.extra = this.objectDoc.extra;
      this.dataTable = this.objectDoc.entities.map((object) =>
        formatEntitiesForPipes(object),
      );
    }
  },

  methods: {
    /** TODO: переименовать только для трубной продукции
     * Добавляет значения для табличной части по грузопозициям */
    addRowTable(object) {
      this.dataTable.push(object);
      this.setIsOpenModal(false);
    },

    async save() {
      const document = {
        big: this.big.id,
        contract: this.contract,
        danger_class: this.danger_class,
        entities: [
          ...this.dataTable.map((object) => ({
            ...object,
            length: object.height,
            pipe_tag: object.pipe_tag?.id,
          })),
        ],
        extra: this.extra,
        object: this.object.id,
        place: this.place.id,
        port: this.port.id,
        receive_date: this.receive_date,
        receiver: this.receiver.id,
        send_date: this.send_date,
        sender: this.sender.id,
        tag: this.tag,
        transport_tag: this.transport_tag,
        transport_type: this.transport.id,
        type: 1,
      };

      try {
        if (this.objectDoc && this.objectDoc.id) {
          await sendChangeDocToBackend(this.objectDoc.id, document);
        } else {
          await sendDocToBackend(document);
        }
        this.$emit('confirmForm');
      } catch (e) {
        this.$emit('confirmForm');
      }
    },

    cancel() {
      this.$emit('closeForm');
    },
  },
};
</script>

<style lang="postcss">
.modal-table {
  @apply table-fixed;
  @apply w-full;
  @apply cursor-default;
  @apply border border-borderColor;

  &__row {
    @apply border-t border-borderColor;
    @apply odd:bg-[#ECEDEE];
  }

  &__cell {
    @apply text-textGray text-left;
    @apply text-[11px];
    @apply leading-[13px];
    @apply p-2;
    @apply border-borderColor;
    @apply border-r;
    @apply last-of-type:border-r-0;
    @apply min-w-[50px];
    @apply break-words;
  }
}
</style>
