<template>
  <main-header title="Прием груза">
    <template #button>
      <Menu as="div" class="relative ml-[53px]">
        <MenuButton
          class="header__button flex items-center justify-between w-[140px]"
        >
          <span>+</span>
          <span>Добавить</span>
        </MenuButton>

        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-95 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-75 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-95 opacity-0"
        >
          <MenuItems
            class="
              absolute
              inset-x-0
              z-10
              mt-[2px]
              px-[12px]
              py-[14px]
              rounded-lg
              bg-white
              border border-borderColor
            "
          >
            <MenuItem v-slot="{ active }">
              <button
                type="button"
                class="
                  text-[18px] text-left
                  leading-[21px]
                  block
                  w-full
                  mb-[9px]
                "
                :class="active ? 'text-[#036B84]' : 'text-[#675A5A]'"
                @click="openModalPipes"
              >
                Трубы
              </button>
            </MenuItem>

            <MenuItem v-slot="{ active }">
              <button
                type="button"
                class="
                  text-[18px] text-left
                  leading-[21px]
                  block
                  w-full
                  mb-[9px]
                "
                :class="active ? 'text-[#036B84]' : 'text-[#675A5A]'"
                @click="openModalCrisper"
              >
                Контейнеры
              </button>
            </MenuItem>

            <MenuItem v-slot="{ active }">
              <button
                type="button"
                class="text-[18px] text-left leading-[21px] block w-full"
                :class="active ? 'text-[#036B84]' : 'text-[#675A5A]'"
                @click="openModalCargo"
              >
                Ген. груз
              </button>
            </MenuItem>
          </MenuItems>
        </transition>
      </Menu>
    </template>
  </main-header>

  <main-table
    v-if="formatTableData"
    :headers="mainTableHeader"
    :data="formatTableData"
    @click-row="changeDoc"
  />

  <dialog-wrap :is-open-modal="isOpenModal">
    <form-admission
      :shipping-name="shippingName"
      :object-doc="objectDoc"
      @closeForm="closeModal"
      @confirmForm="closeModal"
    />
  </dialog-wrap>
</template>

<script>
/** Vendor */
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue';

/** Components */
import MainHeader from '@/components/MainHeader.vue';
import MainTable from '@/components/MainTable.vue';
import DialogWrap from '@/components/DialogWrap.vue';
import FormAdmission from '@/components/FormAdmission/FormAdmission.vue';

/** Composables */
import useReferences from '@/composables/useReferences';
import shippingNames from '@/composables/shippingNames';
import useDialogAnimation from '@/composables/animation/DialogAnimation';
import useToogleModal from '@/composables/useToogleModal';
import useDocs from '@/composables/useDocs';

export default {
  components: {
    MainHeader,
    MainTable,
    DialogWrap,
    FormAdmission,
    Menu,
    MenuButton,
    MenuItems,
    MenuItem,
  },

  setup() {
    const {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
    } = useReferences();

    const { allDocuments, getAllDocuments } = useDocs();

    const { dialogAnimation, overlayAnimation } = useDialogAnimation();

    const { isOpenModal, setIsOpenModal } = useToogleModal();

    return {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
      allDocuments,
      dialogAnimation,
      overlayAnimation,
      isOpenModal,
      setIsOpenModal,
      getAllDocuments,
    };
  },

  data() {
    return {
      /**
       * Наименование типа принимаемого груза
       * @type {String}
       * */
      shippingName: '',

      mainTableHeader: {
        id: '№',
        type: 'Тип операции',
        transport_type: 'Тип ТС',
        tag: 'ТН/ЖДН',
        sender: 'Грузоотправитель',
        receiver: 'Грузополучатель',
        send_date: 'Дата отгрузки',
        receive_date: 'Дата приёмки',
        big: 'Укрупненное наименование груза',
        port: 'Порт выгрузки',
        object: 'Объект',
      },

      /** Объект документа для передачи в модалку */
      objectDoc: {},
    };
  },

  computed: {
    /** @returns {Array} */
    formatTableData() {
      if (this.allDocuments.length) {
        return this.allDocuments.map((item) => ({
          id: item.id,
          type: this.getPropertiesValue(item.type, this.typeArray).name,
          transport_type: item.transport_type,
          tag: item.tag,
          sender: this.getPropertiesValue(item.sender, this.senderArray).name,
          receiver: this.getPropertiesValue(item.receiver, this.receiverArray)
            .name,
          send_date: new Date(item.send_date).toLocaleDateString(),
          receive_date: new Date(item.receive_date).toLocaleDateString(),
          big: this.getPropertiesValue(item.big, this.bigArray).name,
          port: this.getPropertiesValue(item.port, this.portArray).name,
          object: item.object,
        }));
      }
      return [];
    },
  },

  methods: {
    closeModal() {
      this.objectDoc = {};
      this.setIsOpenModal(false);
      this.getAllDocuments();
    },

    openModalPipes() {
      this.objectDoc = {};
      this.shippingName = shippingNames.pipes;
      requestAnimationFrame(() => {
        this.setIsOpenModal(true);
      });
    },

    // TODO: включить после обоснования требований
    openModalCrisper() {
      // eslint-disable-next-line no-alert
      window.alert('Данный функционал не реализован в данной версии');
      // this.shippingName = shippingNames.crisper;
      // requestAnimationFrame(() => {
      //   this.setIsOpenModal(true);
      // });
    },

    // TODO: включить после обоснования требований
    openModalCargo() {
      // eslint-disable-next-line no-alert
      window.alert('Данный функционал не реализован в данной версии');
      // this.shippingName = shippingNames.cargo;
      // requestAnimationFrame(() => {
      //   this.setIsOpenModal(true);
      // });
    },

    /** Открытие уже созданного документа приемки
     * @param {Number} id
     */
    changeDoc(id) {
      // TODO: внимание добавлены только трубы реализовать позже
      this.shippingName = shippingNames.pipes;
      this.objectDoc = this.getPropertiesValue(id, this.allDocuments);

      window.requestAnimationFrame(() => {
        this.setIsOpenModal(true);
      });
    },

    // TODO: убрать так как вынесена в utils
    getPropertiesValue(id, array) {
      return array.find((item) => item.id === id);
    },
  },
};
</script>
