<template>
  <main-header title="Главная"> </main-header>

  <main-table
    v-if="formatTableData"
    :headers="mainTableHeader"
    :data="formatTableData"
  />
</template>

<script>
/** Components */
import MainHeader from '@/components/MainHeader.vue';
import MainTable from '@/components/MainTable.vue';

/** Composables */
import useReferences from '@/composables/useReferences';
import useDocs from '@/composables/useDocs';

export default {
  name: 'Home',

  components: {
    MainHeader,
    MainTable,
  },

  setup() {
    const {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
    } = useReferences();

    const { allDocuments } = useDocs();

    return {
      bigArray,
      objectArray,
      placeArray,
      portArray,
      receiverArray,
      senderArray,
      typeArray,
      allDocuments,
    };
  },

  data() {
    return {
      mainTableHeader: {
        id: '№',
        type: 'Тип операции',
        transport_type: 'Тип ТС',
        tag: 'ТН/ЖДН',
        sender: 'Грузоотправитель',
        receiver: 'Грузополучатель',
        send_date: 'Дата отгрузки',
        receive_date: 'Дата приёмки',
        big: 'Укрупненное наименование груза',
        port: 'Порт выгрузки',
        object: 'Объект',
      },
    };
  },

  computed: {
    /** @returns {Array} */
    formatTableData() {
      if (this.allDocuments.length) {
        return this.allDocuments.map((item) => ({
          id: item.id,
          type: this.getPropertiesValue(item.type, this.typeArray).name,
          transport_type: item.transport_type,
          tag: item.tag,
          sender: this.getPropertiesValue(item.sender, this.senderArray).name,
          receiver: this.getPropertiesValue(item.receiver, this.receiverArray)
            .name,
          send_date: new Date(item.send_date).toLocaleDateString(),
          receive_date: new Date(item.receive_date).toLocaleDateString(),
          big: this.getPropertiesValue(item.big, this.bigArray).name,
          port: this.getPropertiesValue(item.port, this.portArray).name,
          object: item.object,
        }));
      }
      return [];
    },
  },

  methods: {
    getPropertiesValue(id, array) {
      return array.find((item) => item.id === id);
    },
  },
};
</script>