<template>
  <TransitionRoot appear :show="isOpenModal" as="template">
    <Dialog as="div">
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <TransitionChild as="template" v-bind="overlayAnimation">
          <DialogOverlay class="fixed inset-0 bg-textGray bg-opacity-50" />
        </TransitionChild>

        <TransitionChild as="template" v-bind="dialogAnimation">
          <div class="min-h-screen flex items-center transform">
            <slot />
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script>
/** Vendor */
import {
  Dialog,
  DialogOverlay,
  TransitionRoot,
  TransitionChild,
} from '@headlessui/vue';

/** Composables */
import useDialogAnimation from '@/composables/animation/DialogAnimation';

export default {
  name: 'DialogWrap',

  components: {
    Dialog,
    DialogOverlay,
    TransitionRoot,
    TransitionChild,
  },

  props: {
    /** Флаг видимости модального окна */
    isOpenModal: {
      type: Boolean,
      required: true,
    },
  },

  setup() {
    const { dialogAnimation, overlayAnimation } = useDialogAnimation();

    return {
      dialogAnimation,
      overlayAnimation,
    };
  },
};
</script>
