<template>
  <div class="flex flex-col">
    <label :for="id" class="field__label">{{ label }}</label>

    <input
      :id="id"
      :type="type"
      :min="min"
      class="field__input"
      :value="modelValue"
      @input="update"
    />
  </div>
</template>

<script>
export default {
  props: {
    /** @type {String} */
    label: { type: String, default: '', required: false },
    /** @type {String} */
    id: { type: String, default: 'field-text', required: true },
    /** @type {String|Number} */
    modelValue: { type: [String, Number], required: true },
    /** 
     * Тип инпута
     * @type {String} */
    type: { type: String, default: 'text', required: false},
    /** 
     * Минимальное числовое значение
     * @type {String} */
    min: {type: String, default: '0', required: false}
  },

  emits: ['update:modelValue'],

  methods: {
    /** @param {KeyboardEvent} e */
    update(e) {
      this.$emit('update:modelValue', e.target.value);
    },
  },
};
</script>
