.form {
  @apply bg-white;
  @apply mx-auto;
  @apply shadow-xl;
  @apply py-[22px];
  @apply px-[24px];
  @apply text-textBlack;
  @apply border border-borderColor;
  @apply rounded-md;

  &__header {
    @apply text-[14px];
    @apply leading-[16px];
    @apply font-bold;
    @apply mb-[14px];
  }

  &__button {
    @apply bg-transparent;
    @apply rounded-[4px];
    @apply text-textGray text-[12px];
    @apply leading-[18px];
    @apply px-[14px];
    @apply py-[6px];

    &._primary {
      @apply bg-[#FFE316];
      @apply text-textBlack;
      @apply active:bg-opacity-50;
    }

    &._secondary {
      @apply active:bg-textGray active:bg-opacity-50;
    }
  }
}
