<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.8957 4.74419C15.3543 4.37138 14.6457 4.37138 14.1043 4.74419L5.1792 10.89C4.76284 11.1768 4.50933 11.6388 4.49059 12.1349C4.4258 13.8498 4.35713 16.853 4.54573 18.9846C4.688 20.5926 5.0667 22.7182 5.37429 24.282C5.51714 25.0081 6.14922 25.5354 6.90046 25.5354H11.0554C11.2324 25.5354 11.3759 25.3888 11.3759 25.208V19.9691C11.3759 18.7033 12.3804 17.6771 13.6195 17.6771H16.7614C18.0005 17.6771 19.005 18.7033 19.005 19.9691V25.208C19.005 25.3888 19.1485 25.5354 19.3255 25.5354H23.0995C23.8508 25.5354 24.4829 25.0081 24.6257 24.282C24.9333 22.7182 25.312 20.5926 25.4543 18.9846C25.6429 16.853 25.5742 13.8498 25.5094 12.1349C25.4907 11.6388 25.2372 11.1768 24.8208 10.89L15.8957 4.74419ZM13.0294 3.11514C14.2205 2.29495 15.7795 2.29495 16.9706 3.11514L25.8957 9.261C26.8072 9.88865 27.388 10.9206 27.4311 12.0591C27.4958 13.7721 27.5705 16.8898 27.3695 19.1614C27.2172 20.8833 26.8201 23.0981 26.5111 24.669C26.1826 26.3388 24.7405 27.5 23.0995 27.5H19.3255C18.0864 27.5 17.0819 26.4738 17.0819 25.208V19.9691C17.0819 19.7883 16.9384 19.6417 16.7614 19.6417H13.6195C13.4425 19.6417 13.299 19.7883 13.299 19.9691V25.208C13.299 26.4738 12.2945 27.5 11.0554 27.5H6.90046C5.25951 27.5 3.81736 26.3388 3.48891 24.669C3.1799 23.0981 2.7828 20.8833 2.63046 19.1614C2.42947 16.8898 2.50423 13.7721 2.56894 12.0591C2.61196 10.9206 3.19284 9.88865 4.10432 9.261L13.0294 3.11514Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'HomeIcon',
};
</script>
