<template>
  <div class="text-textBlack">
    <main-aside />
    <div class="ml-[70px]">
      <router-view />
    </div>
  </div>
</template>

<script>
import MainAside from './components/MainAside.vue';

import useReferences from '@/composables/useReferences';
import useDocs from '@/composables/useDocs';

export default {
  components: {
    MainAside,
  },

  setup() {
    const {
      getBigArray,
      getObjectArray,
      getPlaceArray,
      getPortArray,
      getReceiverArray,
      getSenderArray,
      getTypeArray,
      getPackageArray,
      getTransportArray,
    } = useReferences();

    const { getAllDocuments } = useDocs();

    return {
      getBigArray,
      getObjectArray,
      getPlaceArray,
      getPortArray,
      getReceiverArray,
      getSenderArray,
      getTypeArray,
      getPackageArray,
      getTransportArray,
      getAllDocuments,
    };
  },

  async created() {
    await Promise.all([
      this.getBigArray(),
      this.getObjectArray(),
      this.getPlaceArray(),
      this.getPortArray(),
      this.getReceiverArray(),
      this.getSenderArray(),
      this.getTypeArray(),
      this.getPackageArray(),
      this.getTransportArray(),
    ]);
    await this.getAllDocuments();
  },
};
</script>
